@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-raleway), sans-serif;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-roboto), sans-serif;
} */
.clip-ellipse {
  clip-path: ellipse(50% 100% at 30% 50%);
}

.clip-ellipse-bottom {
  clip-path: ellipse(50% 50% at 50% 50%);
}