@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-raleway), sans-serif;
  background-color: theme('colors.bodyWhite');
}

span,
p,
h1,
label {
  font-family: var(--font-roboto), sans-serif;
}

.clip-ellipse {
  clip-path: ellipse(50% 100% at 50% 50%);

}

body {
  margin: 0;
  overflow-x: hidden;
}